<div id="barChart" class="barChart">
  <app-bar-chart 
    [selectorDiv] = "'barChart'"
    [barChartData] = "barChartData"
    [barColor] = "'blue'"
    [yAxisLabel] = "'Population (M)'"
    [xAxisLabel]="'Year'"></app-bar-chart>
</div>
<div id="lineChart" class="lineChart">
  <app-line-chart 
    [selectorDiv]="'lineChart'"
    [lineChartData]="lineChartData"
    [lineColor] = "'#ff0000'"
    [yAxisLabel]="'Population (M)'"
    [xAxisLabel]="'Year'"></app-line-chart>
</div>
<div id="pieChart" class="pieChart">
  <app-pie-chart 
    [pieChartData]="pieChartData"
    ></app-pie-chart>
</div>







