<!-- <div class="tableWrapper">
  <div class="tableHeader">
    <div class="tableRow">
        <div class="tableCell" [style.width.%]="100/headerValues.length" *ngFor="let headerEl of headerValues">{{ headerEl }}</div>
    </div>
  </div>
  <div class="tableBody">
    <div>
      <div class="tableRow" *ngFor="let tableRow of tableData">
        <div class="tableCell" [style.width.%]="100/headerValues.length" *ngFor="let headerEl of headerValues">{{ tableRow[headerEl] }}</div>
      </div>
    </div>
  </div>
</div> -->
<app-bar-chart 
  [barChartData] = "barChartData"
  [barColor] = "'blue'"></app-bar-chart>
<app-line-chart 
  [lineChartData]="lineChartData"
  [lineColor] = "'blue'"></app-line-chart>